<h1>Roba Pesa</h1>
<button><%= link_to "New Entry", new_entry_path %></button>
<% if flash[:success].present? %>
  <p><b><%= flash[:success] %></b></p>
<% end %>

<%= line_chart Entry.pluck(:created_at, :kg), min: 60, max: 70, height: "400px" %>

<ul>
  <% @entries.order(created_at: :desc).each do |entry| %>
    <li>
      <%= entry.period ? "ðŸ’ƒðŸ»" : "" %>
      <%= entry.created_at %>: <b><%= entry.kg %> kg</b> -
      <button>
        <%= link_to "Destroy", entry_path(entry), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
      </button>
    </li>
  <% end %>
</ul>
