<h1>New Entry</h1>

<%= form_with model: @entry do |form| %>
  <p>
    <%= form.label :kg %>
    <%= form.text_field :kg %>
  </p>
  <p>
    <%= form.label :period %>
    <%= form.check_box :period %>
  </p>
  <p>
    <% @entry.errors.full_messages_for(:kg).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
