<h1>New Entry</h1>

<%= form_with model: @entry do |form| %>
  <div>
    <%= form.label :kg %><br>
    <%= form.text_field :kg %>
		<% @entry.errors.full_messages_for(:kg).each do |message| %>
      <div><%= message %></div>
		<% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
